@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <form>
        <input type="submit" value="Login" class="btn btn-primary" asp-page="LoginPages/Login" />
    </form>
</div>
